<app-hero-carousel></app-hero-carousel>
<div class="container users">
  <div class="jumbotron text-center">
    <h1 class="py-3">
      <span translate>Our Top Racers</span>
    </h1>
    <app-loader [isLoading]="isLoading"></app-loader>
    <!-- Three columns of text below the carousel -->
    <div class="row" *ngIf="users$ && !isLoading">
      <ng-container *ngFor="let user of users$; let i = index">
        <div class="col-lg-4" *ngIf="i < 3">
          <i
            class="bd-placeholder-img rounded-circle"
            style="font-size: 140px"
            class="fas fa-user-circle"
          ></i>
          <h2>{{ user.name }}</h2>
          <p>{{ user.company.catchPhrase }}</p>
          <button
            class="btn btn-info"
            angulartics2On="click"
            angularticsAction="Click button below {{ user.name }} profile"
            angularticsCategory="test"
            href="#"
            role="button"
            (click)=openModal(user);
          >
            View details »
          </button>
        </div>
        <!-- /.col-lg-4 -->
      </ng-container>
    </div>
  </div>
</div>
<app-features></app-features>
<app-marketing></app-marketing>
