.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

ul.user-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    background-color: rgb(83, 140, 194);
    border: solid 1px #5a7bb9;
    color: #fff;
    display: inline-block;
    padding: 10px;
    margin-bottom: 8px;
    margin-right: 5px;
    cursor: pointer;

    &.active,
    &:hover {
      background: #694404;
    }

    a {
      font-size: 1rem;
      text-decoration: none;
      font-weight: bold;
      color: #fff;
    }
  }
}
